<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.mawenhao.goods.mapper.UserInfoMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        username, password, phone, email, created, updated, source_type, nick_name, name, status, head_pic, qq, is_mobile_check, is_email_check, sex, user_level, points, experience_value, birthday, last_login_time, provinceid, cityid, areaid
    </sql>

</mapper>
